.home {
  height: 100%;
  .pageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .button {
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);
    outline: none;
    .gLogo {
      width: 20%;
      height: 20%;
      transition: transform 0.5s ease;
    }
    &:focus {
      border: 1px solid #8ac9f8;
    }
    &:hover .gLogo {
      transform: scale(1.2);
    }
  }
}
