.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c7c7c7;
  h1 {
    margin: 0 20px 0 0;
  }
  .infoWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .userInfo {
      font-size: .8em;
    }
  }
}
