.albums {
  .albumsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    .item {
      width: 30%;
      padding: 7px 7px 14px;
      text-decoration: none;
    }
    .itemCover {
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    .itemInfo {
      padding-top: 7px;
      color: black;
      word-break: break-word;
    }
  }
}

@media (max-width: 756px) {
  .albums .albumsList .item {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .albums .albumsList .item {
    width: 100%;
  }
}
